<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evacuation Help Matching App</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Evacuation Help Matching App</h1>
      <div class="button-container">
        <button id="helperBtn">I Want to Help</button>
        <button id="helpeeBtn">I Need Help</button>
      </div>
    </div>
    <script src="/static/FireWatch.js"></script>
  </body>
</html>
